.GameOfLife__cells {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;  
}

.GameOfLife__column {
    display: flex;
    flex-direction: column;
}

.GameOfLife__cell {
    width: 20px;
    height: 20px;
    border: 1px solid #c0c0c0;
}

.GameOfLife__cell--alive {
    background-color: grey;
}

.GameOfLife__cell--dead {
    background-color: white;
}

.GameOfLife__startGameButton {  
  margin: 50px auto;
  display: flex;
  justify-content: center;  
}